# POKERTOOL-HEADER-START
# ---
# schema: pokerheader.v1
# project: pokertool
# file: pokertool/.gitignore
# version: '20'
# last_commit: '2025-09-15T01:14:45.672969+00:00'
# fixes: []
# ---
# POKERTOOL-HEADER-END
.DS_Store
